<header>
<!-- Toolbar -->

<!-- modification de la toolbar en top-bar pour améliorer la navigation cf https://get.foundation/sites/docs-v5/components/topbar.html-->
<!--<div class="contain-to-grid sticky">-->
  <nav class="top-bar" data-topbar role="navigation">

    <div class="home-logo">
      <a aria-label="Green mailbox homepage" rel="noopener" title="Home" routerLink="">
        <img class="mailBoxGreen-logo"  width="200" src="assets\img\greenbox.png">
      </a>
    </div>

    <div class="spacer"></div>

    <div class="search">
      <form class="search">
        <input id="input-search" placeholder="Rechercher" type = "text">
      </form>
      <a aria-label="Search green MailBox" target="_blank" rel="noopener"
         title="Search">
        <svg id="search-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="forestgreen" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </a>
    </div>

<div class="user_account">
      <a aria-label="Green Mailox user" rel="noopener"  title="User Account">
      <svg id="user-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="forestgreen" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
    </a></div>
  </nav>
<!--</div>-->
</header>
