<h1>Défis à relever</h1>
<div _ngcontent class="challenge" *ngFor="let challenge of challengeList | async">
  <a routerLink="/play/{{challenge.id}}">
  <h2>{{challenge.nameChallenge}}</h2>

<!--  <span>Date de création : {{challenge.dateCreation}}</span>-->
    <p>{{challenge.description}}</p>
  <div _ngcontent class="img-container">
    <img _ngcontent [src]="challenge.imgUrl">
  </div></a>
  <span>Nombre de likes : {{challenge.likeChallenge}}</span>
  <button (click)="updateLikes(challenge)">👍</button>

</div>

<!--
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom du défis </th>
    <th>Difficulté</th>
    <th>Jouer!</th>
    <th>Date de création</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let challenge of challengeList | async">
    <td>{{challenge.id}}</td>
    <td> {{challenge.name}}</td><<td>{{challenge.level}}</td>
    <td>{{challenge.contentList.length}}</td>
&lt;!&ndash;    <td><a routerLink ="/edit/{{challenge.id}}">Modifier</a></td>&ndash;&gt;
    <td><a routerLink="/play/{{challenge.id}}">Jouer</a></td>
&lt;!&ndash;    <td> <button (click)="delete(challenge)">Supprimer</button></td>&ndash;&gt;
  </tr>
  </tbody>
</table>
-->
