<h1>Défis à relever</h1>
<!-- TODO: revoir l'utilité de _ngcontent -->
<!-- TODO: créer un routerLink sur la div vers le composant PLAY -->
<div _ngcontent

     class="challenge" *ngFor="let challenge of challengeList | async">

<a routerLink="/play/{{challenge.id}}">


  <h2>{{challenge.nameChallenge}}</h2>

  <span>Date de création : {{challenge.dateCreation}}</span>
  <div _ngcontent class="img-container">
    <img _ngcontent [src]="challenge.imgUrl">
  </div>
  <p>{{challenge.description}}</p>
  <span>Nombre de likes : {{challenge.likeChallenge}}</span> <button (click)="likes(challenge)">👍</button>
</a>
</div>

<!--

  <tr *ngFor="let challenge of challengeList | async">
    <td>{{challenge.id}}</td>
    <td> {{challenge.name}}</td><<td>{{challenge.level}}</td>
    <td>{{challenge.contentList.length}}</td>
&lt;!&ndash;    <td><a routerLink ="/edit/{{challenge.id}}">Modifier</a></td>&ndash;&gt;
    <td><a routerLink="/play/{{challenge.id}}">Jouer</a></td>
&lt;!&ndash;    <td> <button (click)="delete(challenge)">Supprimer</button></td>&ndash;&gt;
  </tr>
  </tbody>
</table>
-->
