h1 {
  font-family: inherit;
  color: darkgreen;
  padding: 30px 40px;
  margin: 0;
  text-align: center;
}

h2{
  text-align: center;
}

span{
  margin: auto;
 text-align: center;
}

.challenge{
  border: thin solid #8ABA4D;
  background-color: ghostwhite;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
}

.img-container{
  display: flex;
   margin: auto;
  justify-content: center;
}

img {
  max-width: 300px;
}

