h1 {
  font-family: inherit;
  color: forestgreen;
  padding: 30px 40px;
  margin: 0;
  text-align: center;
}

h2{
  text-align: center;
}

span{
  margin: auto;
  padding-left: 15px;
  padding-right: 10px;
  text-align: center;

}

p{
  color: forestgreen;
  margin: auto;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: left;
}

.challenge{
  border: thin solid #8ABA4D;
  background-color: ghostwhite;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
}

.img-container{
  display: flex;
   margin: auto;
  justify-content: center;
}

img {
  max-width: 200px;
  padding: 5px 2px;
}

button{
  padding-bottom: 5px;
}

